
.BoxContainer {
    display: flex;
    align-items: center;
}
.timebox{
    padding: 48px 48px 64px;
    border-radius: 23px;
    background: rgba(38,160,248,.1);
    

}

.timeicon{

}

.timeicon h1{
    font-weight: 500;
    font-size: 1.875rem;
    line-height: 38px;
}

.ulcont{
    margin-top: 120px;
}

.icon{
    color: #3ea4dd;
}

.ul li{
    list-style: disc;
}