.SocialLinkLeft{
    position: fixed;
    left: 0px;
    bottom: 0px;
    height:280px;
    width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SocilaLink{
    height:35px;
    width: 35px;
    background-color: white;
    border-radius: 50%;
    margin-block:5px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Developmenpic {
    position: sticky;
    top: 180px;
    bottom: 80px;
    left: calc(50% + 80px);
    width: 500px;
    max-width: 53=0px;
    height: 400px;
    overflow: hidden;
    margin-bottom: -60vh
}
