@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden;
}

@font-face {
    font-family: 'ZonaThin';
    src: url("../assets/ZonaPro-Hairline.ttf") format('truetype');
}


@font-face {
    font-family: 'ZonaNormal';
    src: url("../assets/ZonaPro-Regular.ttf") format('truetype');
}


@font-face {
    font-family: 'ZonaSemi';
    src: url("../assets/ZonaPro-SemiBold.ttf") format('truetype');
}


@font-face {
    font-family: 'ZonaBold';
    src: url("../assets/ZonaPro-Bold.ttf") format('truetype');
}
