.DesignElement1 {
    display: inline-block;
    margin-bottom: 0rem;
    line-height: 130%;
    position: relative;
}

.DesignElement1::before {
    background-color: #fff;
    mask: url('https://ronasit.com/_next/static/media/underline-1.bd2f1d52.svg');
    opacity: 0.2;
    position: absolute;
    width: 100%;
    height: 11px;
    bottom: -10px;
    left: 0;
    content: "";
}

.DesignElement1:hover:before {
    background: white;
    opacity: 0.2;
    animation: borderWaveAnimation 2s linear infinite;
}

.DesignElement1::after {
    background-color: #fff;
    mask: url('https://ronasit.com/_next/static/media/underline-1.bd2f1d52.svg');
    width: 0;
    transition: all .6s;
    position: absolute;
    height: 11px;
    bottom: -10px;
    left: 0;
    content: "";
}

.DesignElement1:hover:after {
    width: 100%;
    transition-timing-function: cubic-bezier(.2, 0, 0, 1);
    animation: borderWaveAnimation 2s linear infinite;
}

.DesignElement3 {
    display: inline-block;
    margin-bottom: 0rem;
    line-height: 130%;
    position: relative;
}

.DesignElement3::before {
    background-color: #fff;
    mask: url('https://ronasit.com/_next/static/media/underline-3.cf6fc523.svg');
    opacity: 0.2;
    position: absolute;
    width: 100%;
    height: 11px;
    bottom: -10px;
    left: 0;
    content: "";
}

.DesignElement3:hover:before {
    background: white;
    opacity: 0.2;
    animation: borderWaveAnimation 2s linear infinite;
}

.DesignElement3::after {
    background-color: #fff;
    mask: url('https://ronasit.com/_next/static/media/underline-3.cf6fc523.svg');
    width: 0;
    transition: all .6s;
    position: absolute;
    height: 11px;
    bottom: -10px;
    left: 0;
    content: "";
}

.DesignElement3:hover:after {
    width: 100%;
    transition-timing-function: cubic-bezier(.2, 0, 0, 1);
    animation: borderWaveAnimation 2s linear infinite;
}

.DesignElemen2 {
    display: inline-block;
    margin-bottom: 0rem;
    line-height: 130%;
    position: relative;
}

.DesignElement2::before {
    background-color: #fff;
    mask: url('https://ronasit.com/_next/static/media/underline-2.0eafa3f9.svg');
    opacity: 0.2;
    position: absolute;
    width: 100%;
    height: 11px;
    bottom: -20px;
    left: 0;
    content: "";
}

.DesignElement2:hover:before {
    background: white;
    opacity: 0.2;
    animation: borderWaveAnimation 2s linear infinite;
}

.DesignElement2::after {
    background-color: #fff;
    mask: url('https://ronasit.com/_next/static/media/underline-2.0eafa3f9.svg');
    width: 0;
    transition: all .6s;
    position: absolute;
    height: 11px;
    bottom: -20px;
    left: 0;
    content: "";
}

.DesignElement2:hover:after {
    width: 100%;
    transition-timing-function: cubic-bezier(.2, 0, 0, 1);
    animation: borderWaveAnimation 2s linear infinite;
}

.reelVideo {
    height: 6rem;
    width: 6rem;
    position: absolute;
    transform: scale(2.5);
    opacity: 1;
    transition-property: height, max-height, border-radius, opacity;
    transition-duration: 10s, 10s, 0s, 0s;
    transition-delay: 0s, 0s, 0s, 1s;
    transition-timing-function: cubic-bezier(.37, 0, .63, 1), cubic-bezier(.37, 0, .63, 1), cubic-bezier(.37, 0, .63, 1), linear;
}

.VideoStarterBtn {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    height: 7rem;
    width: 7rem;
    background-color: rgba(0, 0, 0, 1);
    z-index: 999;
    transition: 0.6s all;
    display: flex;
    align-items: center;
    justify-content: center;
}

.VideoStarterBtn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.showreelText {
    fill: white;
}

.showreel_showreel_text {
    animation: reelTextRotate 12s linear infinite;
    height: 9rem;
    width: 9rem;
    bottom: 80px;
}

.SocialLinkLeft {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 280px;
    width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SocilaLink {
    height: 35px;
    width: 35px;
    background-color: white;
    border-radius: 50%;
    margin-block: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AboutHoverCard {
    transition: 1s all;
    cursor: pointer;
    position: relative;
}

.AboutHoverCardInner {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-image: url(../assets/images/hoverBack.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: 1s all;
}

.AboutHoverCardInner:hover {
    opacity: 1;
}

.MVPBanner {
    background: rgb(95, 188, 255);
    background: linear-gradient(180deg, rgba(95, 188, 255, 1) 0%, rgba(38, 160, 248, 1) 100%);
}

.MVPBannerBtn {
    border: 1px solid #fff;
    width: 100%;
    padding-block: 20px;
    border-radius: 100px;
    margin-top: 30px;
}

@keyframes reelTextRotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-1turn);
    }
}

@keyframes borderWaveAnimation {
    0% {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }

    100% {
        -webkit-mask-position: 114px 0;
        mask-position: 114px 0;
    }
}


.visibleClass {
    height: 70vh;
    width: 500px;
    background-color: black;
    position: fixed;
    bottom: 10vh;
    right: 40vh;
    transition: 0.6s all;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.BorderGlassOne {
    position: absolute;
    width: 100%;
    background-color: aqua;
    bottom: 0;
    height: 10px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    animation: identifier !important;
}

@keyframes identifier {
    0% {
        height: 10px;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
    }

    100% {
        height: 70vh;
        border-top-left-radius: 0%;
        border-top-right-radius: 0%;
    }
}

.InvisibleClass {
    opacity: 0;
}