.HeaderBackground {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    width: 100%;
}
.ThemeToggle{
    width: 30px;
    border-radius: 10px;
    padding: 2px;
    display: flex;
    align-items: center;
    transition: 0.3s all;
}
.ThemeToggleBtn{
    height: 12px;
    width: 12px;
    border-radius: 15px;
    transition: 0.3s all;
}