.container{
    margin: 5rem 0rem;
    padding: 0px 140px;
}

.Commonds{
    padding: 10px;
    
}
.subContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.Commonds h1{
    display: block;
    font-size: 3.75rem;
    margin-bottom: 25px;
    line-height: 1;
    font-weight: 700;
}

.Commonds p{
    line-height: 1.5;
    display: inline-block;
}